/// whole navbar container
.header1{
  display:grid;
  grid-template-columns: repeat(1, minmax(auto-fit, 1fr));
  width: 100%;
  height: 5rem;
  &:hover{
    cursor: pointer;
  }


}

/// main navbar
.navbar__container{
  display:flex;
  background-color:white;
  padding: 0 0.5rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.logo-icon{
  width: 5rem;
  height: 5rem;
  margin-right: 0.5rem;

}

.search{
  display:flex;
  align-items: center;

}

.search__input{
  width: 40vw;
  min-height: 2.25rem;
}

.search__button{
  display:flex;
  align-items: center;
  width: 2.25rem;
  height: 2.25rem;
}

.search-icon{
  width: 2.25rem;
  height: 2.25rem;
}

.user-icon{
  margin-left: 2rem;

  width: 2rem;
  height: 2rem;
}
.hamburger-icon{
  margin-left: 2rem;
  width: 2rem;
  height: 2rem;
}

.ex-icon{
  margin-left: 2rem;
  width: 1.5rem;
  height: 1.5rem;
}


/// sidebar dropDown

.header2{
  display:grid;
  grid-template-columns: repeat(1, minmax(auto-fit, 1fr));
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left:0;
}
.side-bar__container{
  display:grid;
  grid-template-columns: repeat(1, minmax(auto-fit, 1fr));
  grid-template-rows: repeat(1, minmax(auto-fit, 1fr));
  width: 20%;
  height: 100%;
  background-color: white;
  position: absolute;
  right: 0;

}

.anchor-list__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.anchor__container{
  border-bottom: 1px solid black;
  width: 100%;

  .anchor-icon{
    width: 1.5rem;
    height: 1.5rem;
  }

  .link{
    text-decoration: none;
    text-transform: uppercase;
  }
}
