/// whole navbar container
.header1{
  display:grid;
  grid-template-columns: repeat(1, minmax(auto-fit, 1fr));
  width: 100%;
  height: 5rem;
  &:hover{
    cursor: pointer;
  }


}

/// main navbar
.navbar__container{
  display:flex;
  background-color:white;
  padding: 0 3rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.logo-icon{
  width: 5rem;
  height: 5rem;
  margin-right: 0.5rem;

}

.search{
  display:flex;
  align-items: center;

}

.search__input{
  width: 40vw;
  min-height: 2.25rem;
}

.search__button{
  display:flex;
  align-items: center;
  width: 2.25rem;
  height: 2.25rem;
}

.search-icon{
  width: 2rem;
  height: 2rem;
}

.user-icon{
  display:flex;
  align-items: center;
  text-decoration: none;

  svg{
    width: 2rem;
    height: 2rem;
  }

  span{
    color:black;
    width: 1rem;
    height: 1rem;
  }
}
.hamburger-icon{
  margin-left: 2rem;
  width: 2rem;
  height: 2rem;
}

.ex-icon{
  margin-left: 2rem;
  width: 1rem;
  height: 1rem;
}


/// sidebar dropDown

.header2{
  display:grid;
  grid-template-columns: repeat(1, minmax(auto-fit, 1fr));
  width: 100vw;
  min-height:200vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  right: 0;

}
.side-bar__container{
  @media only screen and (max-width: 350px){
    height:20%;
    width: min-content;
  }
  @media only screen and (max-width: 375px){
    height:20%;
    width: min-content;
  }
  @media only screen and (max-width: 512px){
    height:20%;
    width: min-content;
  }
  @media only screen and (max-width: 750px){
    height:20%;
  }
  @media only screen and (max-width: 1050px){
    height:20%;
  }
  display:grid;
  grid-template-columns: repeat(1, minmax(auto-fit, 1fr));
  grid-template-rows: repeat(1, minmax(auto-fit, 1fr));
  width: 20vw;
  height: 30%;
  background-color: white;
  position: absolute;
  right:0;

}

.anchor-list__container{
  display:grid;
  grid-template-columns: repeat(2, minmax(auto-fit, 1fr));
  grid-template-rows: repeat(2, minmax(auto-fit, 1fr));
  list-style-type: none;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}

.anchor__container{
  display:grid;
  grid-template-columns: repeat(2, minmax(auto-fill, 0.5fr));
  grid-template-rows: repeat(2, minmax(auto-fill, 0.5fr));
  border-bottom: 1px solid black;
  align-self: center;
  justify-self: center;
  width: 100%;

  display:flex;
  flex: 0 0 50%;
  margin: auto;


  .anchor-icon{
    width: 1.5rem;
    height: 1.5rem;
  }

  .link{
    color: black;
    margin-left: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    &:hover{
      background-color: black;
      color: white;
    }
  }
}
