/// parent parent container to make the child container sticky till the parents viewport
.sticky__container{
  min-height: 400vh;
}

/// parent container
.container{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  background-color: white;
  box-shadow: var(--shadow-box);
  width: 100%;
  height: 50vh;
  background-color: var(--color-grey-light-3);
  margin-top: 2rem;
  position: sticky;
  padding: 1rem;
  top: 0;

  hr{
    background-color: black;
    max-height: 0.5rem;
  }
}
/// mode-name

.model-name__container{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.car-model{
  font-size: 1.8rem;
  justify-self: center;
}
.car-name{
  font-size: 1.5rem;
  margin-left: 1rem;
}

/// image
.car-image__container{
display: grid;
grid-template-columns: auto;
justify-items: center;
align-items: center;
}
.car-image{
  max-width: 15rem;
  height: auto;
}

/// price
.buyPrice__container{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.price-text{
  display: grid;
  justify-items: self-start;
  font-weight: bold;
  font-size: 1.15rem;
}
.price{
  display: grid;
  justify-items: self-end;
  font-weight: bold;
  font-size: 1.3rem;
}

/// extras
.extras__container{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
.extras-text{
  display: grid;
  justify-items: self-start;
  font-weight: bold;
  font-size: 1.15rem;
}
.extras-price{
  display: grid;
  justify-items: self-end;
  font-weight: bold;
  font-size: 1.3rem;
}

/// final-price
.finalPrice__container{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.finalPrice-text{
  display: grid;
  justify-items: self-start;
  font-weight: bold;
  font-size: 1.15rem;
}
.finalPrice{
  display: grid;
  justify-items: self-end;
  font-weight: bold;
  font-size: 1.30rem;
}

/// leasing Price
.leasingPrice__container{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
.leasingPrice-text{
  display: grid;
  justify-items: self-start;
  font-weight: bold;
  font-size: 1.15rem;
}
.leasingPrice{
  display: grid;
  justify-items: self-end;
  font-weight: bold;
  font-size: 1.3rem;
}

/// button pointing to overview
.overview-button__container{
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 2.5rem;
}
.overview-button{
  padding: 1rem;
  background-color: black;
  font-size: 1.15rem;
  text-decoration: none;
  color: white;

  &:hover{
    background-color: rgba(0, 0, 0, 0.8);
  }
}
