<div class="header__container">
  <h3>Alle Antriebe im Überblick</h3>
</div>
<form [formGroup]="driveForm" (ngSubmit)="onSubmit()">
<div class="drive-config__container">
  <span class="intro-text">
    Alle Antriebsvarianten, Daten zum Stromverbrauch
    sowie Beschleunigung und Höchstgeschwindigkeit für Ihren
    <strong>{{car.model}} | {{car.name}}</strong>
  </span>
  <label for="extra-select">Austattungslinien</label>
  <select
  class="select__container"
  formControlName="extra"
  id="extra-select"
  (change)= "onSelectOptions($event)"
  >
    <option>Alle</option>
    <option selected>Basis</option>
    <option>advanced</option>
    <option>sLine</option>
    <option>editionOne</option>
  </select>
  <div class="input__container">
    <div class="drive1__container" *ngIf="car.driveType1 !== null">
      <input
      class="drive-input"
      type="checkbox"
      id="drive1"
      formControlName="drive1"
      (change)= "onDrive1($event)"
      >
      <label for="drive1">{{car.driveType1}}</label>
    </div>
    <div class="drive2__container" *ngIf="car.driveType2 !== null">
      <input
      class="drive-input"
      type="checkbox"
      id="drive2"
      formControlName="drive2"
      (change)= "onDrive2($event)"
      >
      <label for="drive2">{{car.driveType2}}</label>
    </div>
    <div class="fuel1__container" *ngIf="car.fuel1 !== null">
      <input
      class="drive-input"
      type="checkbox"
      id="fuel1"
      formControlName="fuel1"
      (change)= "onFuel1($event)"
      >
      <label for="fuel1">{{car.fuel1}}</label>
    </div>
    <div class="fuel2__container" *ngIf="car.fuel2 !== null">
      <input
      class="drive-input"
      type="checkbox"
      id="fuel2"
      formControlName="fuel2"
      (change)= "onFuel2($event)"
      >
      <label for="fuel2">{{car.fuel2}}</label>
    </div>
  </div>
</div>
<div class="header2__container">
  <h3>Antrieb</h3>
</div>
<div class="drive-cards__container">
  <div
  formArrayName="driveCard"
  *ngFor="let control of getDriveCardControls(); index as i"

  >
  <div>
    <div
      class="dynamicCard"
    *ngFor="let newControl of control.value"
    [ngClass]="{'dynamicCard': newControl.mostWanted === false,
    'dynamicCard-mostWanted': newControl.mostWanted === true}"
    >
      <input
      class="drive-card-input"
      type="checkbox"
      (change)= "onDriveCard($event)"
      >
      <span
      class="car-name"
      >{{newControl.name}}</span>
      <span class="car-price"
      >{{newControl.price}},00 EUR</span>
    </div>
  </div>
  <!-- <div *ngIf="allDriveLoop">
    <div
      class="dynamicCard"
    *ngFor="let newControl of control.value"
    [ngClass]="{'dynamicCard': newControl.mostWanted === false,
    'dynamicCard-mostWanted': newControl.mostWanted === true}"
    >
      <input
      class="drive-card-input"
      type="checkbox"
      (change)= "onDriveCard($event)"
      >
      <span
      class="car-name"
      >{{newControl.name}}</span>
      <span class="car-price"
      >{{newControl.price}},00 EUR</span>
    </div>
  </div> -->
</div>
</div>
<div class="button__container">
  <button class="drive__submit" type="submit">Weiter zu Exterieur</button>
</div>
</form>
