<div class="car-card__container">
    <div class="model-cards__container">
      <h1 class="model__headers">e-tron</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:0:2">
        <div class="model-and-name__container">
          <span class="model">{{car.model}}</span>
          <span class="name">{{car.name}}</span>
        </div>
        <div class="price__container">
          <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
          <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
        </div>
        <div class="image-and-button__container">
          <img class="model-image" src="" alt="CarPic">
          <button class="config-button">Konfigurieren</button>
        </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">A1</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:3:5">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <button class="config-button">Konfigurieren</button>
          </div>
        </li>

      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">A3</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:5:11">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <button class="config-button">Konfigurieren</button>
          </div>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">A4</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:12:18">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <button class="config-button">Konfigurieren</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">A5</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:19:26">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <button class="config-button">Konfigurieren</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">A6</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:27:34">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <button class="config-button">Konfigurieren</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">A7</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:35:38">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <button class="config-button">Konfigurieren</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">A8</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:38:43">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <button class="config-button">Konfigurieren</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">Q2</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:43:45">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <button class="config-button">Konfigurieren</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">Q3</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:46:49">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <button class="config-button">Konfigurieren</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">Q5</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:50:52">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <button class="config-button">Konfigurieren</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">Q7</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:53:55">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <button class="config-button">Konfigurieren</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">Q8</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:56:58">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <button class="config-button">Konfigurieren</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">TT</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:59:64">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <button class="config-button">Konfigurieren</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">R8</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:65:70">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <button class="config-button">Konfigurieren</button>
          </div>
        </li>
      </ul>
    </div>
  </div>

