<div class="car-card__container">
    <div class="model-cards__container">
      <h1 class="model__headers">e-tron</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:0:2">
        <div class="model-and-name__container">
          <span class="model">{{car.model}}</span>
          <span class="name">{{car.name}}</span>
        </div>
        <div class="price__container">
          <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
          <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
        </div>
        <div class="image-and-button__container">
          <img class="model-image" src="{{car.imageUrl[0]}}" alt="CarPic">
          <a class="config-button" routerLink="/configuration/{{car.id}}">
            Konfigurieren
          </a>
        </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">A1</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:2:4">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <a class="config-button" routerLink="/configuration/{{car.id}}">
              Konfigurieren
            </a>
          </div>
        </li>

      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">A3</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:4:11">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <a class="config-button" routerLink="/configuration/{{car.id}}">
              Konfigurieren
            </a>
          </div>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">A4</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:11:18">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <a class="config-button" routerLink="/configuration/{{car.id}}">
              Konfigurieren
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">A5</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:18:26">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <a class="config-button" routerLink="/configuration/{{car.id}}">
              Konfigurieren
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">A6</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:26:34">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <a class="config-button" routerLink="/configuration/{{car.id}}">
              Konfigurieren
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">A7</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:34:38">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <a class="config-button" routerLink="/configuration/{{car.id}}">
              Konfigurieren
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">A8</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:38:43">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <a class="config-button" routerLink="/configuration/{{car.id}}">
              Konfigurieren
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">Q2</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:43:45">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <a class="config-button" routerLink="/configuration/{{car.id}}">
              Konfigurieren
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">Q3</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:45:49">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <a class="config-button" routerLink="/configuration/{{car.id}}">
              Konfigurieren
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">Q5</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:49:52">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <a class="config-button" routerLink="/configuration/{{car.id}}">
              Konfigurieren
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">Q7</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:52:55">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <a class="config-button" routerLink="/configuration/{{car.id}}">
              Konfigurieren
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">Q8</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:55:58">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <a class="config-button" routerLink="/configuration/{{car.id}}">
              Konfigurieren
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">TT</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:58:64">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <a class="config-button" routerLink="/configuration/{{car.id}}">
              Konfigurieren
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="model-cards__container">
      <h1 class="model__headers">R8</h1>
      <ul class="card-list">
        <li class="card-list__details" *ngFor="let car of cars | slice:64:70">
          <div class="model-and-name__container">
            <span class="model">{{car.model}}</span>
            <span class="name">{{car.name}}</span>
          </div>
          <div class="price__container">
            <span class="buyPrice">ab {{car.buyPrice}},00 €</span>
            <span class="leasingPrice"> z.B. mtl. {{car.leasingPrice}},00 € (mit PrivatLeasing)</span>
          </div>
          <div class="image-and-button__container">
            <img class="model-image" src="" alt="CarPic">
            <a class="config-button" routerLink="/configuration/{{car.id}}">
              Konfigurieren
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>

