<form class="form__container" [formGroup]="filterForm" (ngSubmit)= 'onSubmit()'>
  <div class="models__container">
  <h3>Modelle</h3>
    <div *ngFor='let model of modelArray; let i=index'>
      <label>
      <input
      type="checkbox"
      formControlName="model"
      [value]="model.value">{{model.name}}
      </label><br>
    </div>
  </div>
  <div class="vehicle-type__container">
  <h3>Fahrzeugtyp</h3>
  <div *ngFor='let vehicle of vehicleArray'>
    <label>
    <input
    type="checkbox"
    formControlName="vehicle"
    [value]="vehicle">{{vehicle}}
    </label><br>
  </div>
</div>
<div class="price__container">
  <h3>Preis</h3>
  <label for="price">(25.000 EUR - 250.000 EUR):</label>
  <input
  type="range"
  id="price"
  formControlName="price"
  step="25000.0" min="25000.0"
  max="250000.0"
  > bis {{filterForm.value.price}} €
</div>
  <button class="button-submit" type='submit'>FILTERN</button>
  <button class="button-reset" type='button' (click)= 'onReset()'>RESET</button>
</form>

