<form class="form__container">
  <div class="models__container">
  <h3>Modelle</h3>
     <input type="checkbox" id="e-tron" name="e-tron" value="Model">
     <label for="e-tron">e-tron</label><br>
     <input type="checkbox" id="A1" name="A1" value="Model">
     <label for="A1">A1</label><br>
     <input type="checkbox" id="A3" name="A3" value="Model">
     <label for="A3">A3</label><br>
     <input type="checkbox" id="A4" name="A4" value="Model">
     <label for="A4">A4</label><br>
     <input type="checkbox" id="A5" name="A5" value="Model">
     <label for="A5">A5</label><br>
     <input type="checkbox" id="A6" name="A6" value="Model">
     <label for="A6">A6</label><br>
     <input type="checkbox" id="A7" name="A7" value="Model">
     <label for="A7">A7</label><br>
     <input type="checkbox" id="A8" name="A8" value="Model">
     <label for="A8">A8</label><br>
     <input type="checkbox" id="Q2" name="Q2" value="Model">
     <label for="Q2">Q2</label><br>
     <input type="checkbox" id="Q3" name="Q3" value="Model">
     <label for="Q3">Q3</label><br>
     <input type="checkbox" id="Q5" name="Q5" value="Model">
     <label for="Q5">Q5</label><br>
     <input type="checkbox" id="Q7" name="Q7" value="Model">
     <label for="Q7">Q7</label><br>
     <input type="checkbox" id="Q8" name="Q8" value="Model">
     <label for="Q8">Q8</label><br>
     <input type="checkbox" id="TT" name="TT" value="Model">
     <label for="TT">TT</label><br>
     <input type="checkbox" id="R8" name="R8" value="Model">
     <label for="R8">R8</label><br>
     <input type="checkbox" id="RS" name="RS" value="Model">
     <label for="RS">RS</label><br>
  </div>
  <div class="vehicle-type__container">
  <h3>Fahrzeugtyp</h3>
    <input type="checkbox" id="Alternative Antriebe" name="Alternative Antriebe" value="Vehicle">
     <label for="Alternative Antriebe">Alternative Antriebe</label><br>
     <input type="checkbox" id="g-tron" name="g-tron" value="Vehicle">
     <label for="g-tron">g-tron</label><br>
     <input type="checkbox" id="Plug-in-Antriebe" name="Plug-in-Antriebe" value="Vehicle">
     <label for="Plug-in-Antriebe">Plug-in-Antriebe</label><br>
     <input type="checkbox" id="Kompakt" name="Kompakt" value="Vehicle">
     <label for="Kompakt">Kompakt</label><br>
     <input type="checkbox" id="Sportback" name="Sportback" value="Vehicle">
     <label for="Sportback">Sportback</label><br>
     <input type="checkbox" id="Limousine" name="Limousine" value="Vehicle">
     <label for="Limousine">Limousine</label><br>
     <input type="checkbox" id="Cabriolet" name="Cabriolet" value="Vehicle">
     <label for="Cabriolet">Cabriolet</label><br>
     <input type="checkbox" id="Sportwagen" name="Sportwagen" value="Vehicle">
     <label for="Sportwagen">Sportwagen</label><br>
     <input type="checkbox" id="Avant" name="Avant" value="Vehicle">
     <label for="Avant">Avant</label><br>
     <input type="checkbox" id="allroad quattro" name="allroad quattro" value="Vehicle">
     <label for="allroad quattro">allroad quattro</label><br>
     <input type="checkbox" id="Coupe" name="Coupe" value="Vehicle">
     <label for="Coupe">Coupe</label><br>
     <input type="checkbox" id="SUV" name="SUV" value="Vehicle">
     <label for="SUV">SUV</label><br>
     <input type="checkbox" id="Roadster" name="Roadster" value="Vehicle">
     <label for="Roadster">Roadster</label><br>
     <input type="checkbox" id="Spyder" name="Spyder" value="Vehicle">
     <label for="Spyder">Spyder</label><br>
     <input type="checkbox" id="Audi Q Modelle" name="Audi Q Modelle" value="Vehicle">
     <label for="Audi Q Modelle">Audi Q Modelle</label><br>
     <input type="checkbox" id="Audi SQ Modelle" name="Audi SQ Modelle" value="Vehicle">
     <label for="Audi SQ Modelle">Audi SQ Modelle</label><br>
  </div>
<div class="price__container">
  <h3>Preis</h3>
  <label for="price">(25.000 EUR - 250.000 EUR):</label>
  <input type="range" id="price" name="price" step="25000.0" min="25000.0" max="250000.0">
  <output id="price-output" for="price">
    bis
    <!-- <span></span> will be used for price calc -->
  </output>
</div>
  <div class="button__container">
  <button class="button-submit">FILTERN</button>
</div>
</form>

