<div class="header__container">
  <h3>Ausstattungslinien</h3>
</div>
<form [formGroup]="inputForm" ngSubmit="onSubmit()">
<div class="line__container">
  <div class="line-set__container">
    <img src="{{car.imageUrl[0]}}" alt="line-pic" class="car-image">
    <div class="inputAndtext__container">
      <div class="input__container">
        <input
        type="checkbox"
        formControlName="basis"
        (change) = "onBasisCheck($event)"
        [value]="car"
        id="Basis"
        class="input-checkbox"
        >
        <label for="Basis">Basis</label><br>
      </div>
      <span class="info-text">
        Alles Wichtige an Bord: Funktionale Wertigkeit und stilsichere Details bilden die solide Basis.
        Mit attraktiven Ausstattungen geben Sie Ihrem Fahrzeug einen eigenen Charakter -
        außen genauso wie im Innenraum. Steigen Sie ein in die Individualisierung Ihres Audi {{car.model}}!
      </span>
    </div>
  </div>
  <div class="line-set__container">
    <img src="{{car.imageUrl[0]}}" alt="line-pic" class="car-image">
    <div class="inputAndtext__container">
      <div class="input__container">
        <input
        type="checkbox"
        (change) = "onAdvancedCheck($event)"
        formControlName="advanced"
        [value]="car"
        id="advanced"
        class="input-checkbox"
        >
        <label for="advanced">advanced</label><br>
      </div>
      <span class="info-text">
        advanced steht für Fortschritt. Und so wird das ohnehin markante Design des
        Audi {{car.model}}beim advanced mit ausdrucksstarken Exterieurausstattungen
        und passenden Felgen noch weiter ausgebaut und betont.
      </span>
    </div>
  </div>
  <div class="line-set__container">
    <img src="{{car.imageUrl[1]}}" alt="line-pic" class="car-image">
    <div class="inputAndtext__container">
      <div class="input__container">
        <input
        type="checkbox"
        formControlName="sLine"
        (change)="onSlineCheck($event)"
        [value]="car"
        id="S line"
        class="input-checkbox">
        <label for="S line">S line</label><br>
      </div>
      <span class="info-text">
        S steht für Sportlichkeit. Und für dynamische Optik und souveräne Performance.
        So zeigen die S line Stoßfänger mit charakteristischen Einlegern, das spezielle Design für die angedeuteten Lufteinlässe, die Seitenschweller, der S line Spoiler
        und die passenden Felgen den Audi {{car.model}} in seiner stärksten Form.
      </span>
    </div>
  </div>
  <div class="line-set__container">
    <img src="{{car.imageUrl[1]}}" alt="line-pic" class="car-image">
    <div class="inputAndtext__container">
      <div class="input__container">
        <input
        type="checkbox"
        formControlName="editionOne"
        (change)="onEditionOneCheck($event)"
        [value]="car"
        id="edition one"
        class="input-checkbox"
        >
        <label for="edition one">edition one</label><br>
      </div>
      <span class="info-text">
        Mit der edition one sind Sie ganz vorn:
        Mit eleganten platinumgrauen Designelementen im Exterieur, abgedunkelten Matrix-LED-Scheinwerfern
        mit dynamischer Lichtinszenierung und dynamischem Blinklicht zeigen Sie sich von Ihrer überzeugendsten Seite.
        Die Ausstattungslinien advanced und Interieur S line sind selbstverständlich inklusive.
        Je nach Wunsch stehen verschiedene Außenfarben und Räder-Alternativen zur Verfügung.
      </span>
    </div>
  </div>
</div>
<div class="header__container">
  <h3>Linien & Pakete</h3>
</div>
<div class="extras__container">
  <div class="extras">
    <label for="interieur-s-line"></label>
    <input>
    <img src="" alt="interieur-s-line">
    <span class="extras-price"></span>
    <ul class="features-item__list">
      <li class="features-item"></li>
      <li class="features-item"></li>
      <li class="features-item"></li>
      <li class="features-item"></li>
      <li class="features-item"></li>
      <li class="features-item"></li>
      <li class="features-item"></li>
      <li class="features-item"></li>
    </ul>
  </div>
</div>
</form>
