<div class="line__container">
  <h3>Ausstattungslinien</h3>
  <div class="line-set">
    <img src="{{car.imageUrl[1]}}" alt="line-pic">
    <input type="checkbox" id="Basis">
    <label for="Basis">Basis</label><br>
    <span>
      Alles Wichtige an Bord: Funktionale Wertigkeit und stilsichere Details bilden die solide Basis.
      Mit attraktiven Ausstattungen geben Sie Ihrem Fahrzeug einen eigenen Charakter -
      außen genauso wie im Innenraum. Steigen Sie ein in die Individualisierung Ihres Audi A3 Sportback!
    </span>
  </div>
  <div class="line-set">
    <img src="{{car.imageUrl[1]}}" alt="line-pic">
    <input type="checkbox" id="advanced">
    <label for="advanced">advanced</label><br>
    <span>
      advanced steht für Fortschritt. Und so wird das ohnehin markante Design des
      A3 Sportback beim advanced mit ausdrucksstarken Exterieurausstattungen
      und passenden Felgen noch weiter ausgebaut und betont.
    </span>
  </div>
  <div class="line-set">
    <img src="{{car.imageUrl[1]}}" alt="line-pic">
    <input type="checkbox" id="S line">
    <label for="S line">S line</label><br>
    <span>
      S steht für Sportlichkeit. Und für dynamische Optik und souveräne Performance.
      So zeigen die S line Stoßfänger mit charakteristischen Einlegern, das spezielle Design für die angedeuteten Lufteinlässe, die Seitenschweller, der S line Spoiler
      und die passenden Felgen den A3 Sportback in seiner stärksten Form.
    </span>
  </div>
  <div class="line-set">
    <img src="{{car.imageUrl[1]}}" alt="line-pic">
    <input type="checkbox" id="edition one">
    <label for="edition one">edition one</label><br>
    <span>
      Mit der edition one sind Sie ganz vorn:
      Mit eleganten platinumgrauen Designelementen im Exterieur, abgedunkelten Matrix-LED-Scheinwerfern
      mit dynamischer Lichtinszenierung und dynamischem Blinklicht zeigen Sie sich von Ihrer überzeugendsten Seite.
      Die Ausstattungslinien advanced und Interieur S line sind selbstverständlich inklusive.
      Je nach Wunsch stehen verschiedene Außenfarben und Räder-Alternativen zur Verfügung.
    </span>
  </div>
</div>

<p>lines-and-packages works!</p>
