<div class="header__container">
  <h3>Ausstattungslinien</h3>
</div>
<form [formGroup]="inputForm" ngSubmit="onSubmit()">
<div class="line__container">
  <div class="line-set__container">
    <img src="{{car.imageUrl[0]}}" alt="line-pic" class="car-image">
    <div class="inputAndtext__container">
      <div class="input__container">
        <input
        type="checkbox"
        formControlName="basis"
        (change) = "onBasisCheck($event)"
        [value]="car"
        id="Basis"
        class="input-checkbox"
        >
        <label for="Basis">Basis</label><br>
      </div>
      <span class="info-text">
        Alles Wichtige an Bord: Funktionale Wertigkeit und stilsichere Details bilden die solide Basis.
        Mit attraktiven Ausstattungen geben Sie Ihrem Fahrzeug einen eigenen Charakter -
        außen genauso wie im Innenraum. Steigen Sie ein in die Individualisierung Ihres Audi {{car.model}}!
      </span>
    </div>
  </div>
  <div class="line-set__container">
    <img src="{{car.imageUrl[0]}}" alt="line-pic" class="car-image">
    <div class="inputAndtext__container">
      <div class="input__container">
        <input
        type="checkbox"
        (change) = "onAdvancedCheck($event)"
        formControlName="advanced"
        [value]="car"
        id="advanced"
        class="input-checkbox"
        >
        <label for="advanced">advanced</label><br>
      </div>
      <span class="info-text">
        advanced steht für Fortschritt. Und so wird das ohnehin markante Design des
        Audi {{car.model}}beim advanced mit ausdrucksstarken Exterieurausstattungen
        und passenden Felgen noch weiter ausgebaut und betont.
      </span>
    </div>
  </div>
  <div class="line-set__container">
    <img src="{{car.imageUrl[1]}}" alt="line-pic" class="car-image">
    <div class="inputAndtext__container">
      <div class="input__container">
        <input
        type="checkbox"
        formControlName="sLine"
        (change)="onSlineCheck($event)"
        [value]="car"
        id="S line"
        class="input-checkbox">
        <label for="S line">S line</label><br>
      </div>
      <span class="info-text">
        S steht für Sportlichkeit. Und für dynamische Optik und souveräne Performance.
        So zeigen die S line Stoßfänger mit charakteristischen Einlegern, das spezielle Design für die angedeuteten Lufteinlässe, die Seitenschweller, der S line Spoiler
        und die passenden Felgen den Audi {{car.model}} in seiner stärksten Form.
      </span>
    </div>
  </div>
  <div class="line-set__container">
    <img src="{{car.imageUrl[1]}}" alt="line-pic" class="car-image">
    <div class="inputAndtext__container">
      <div class="input__container">
        <input
        type="checkbox"
        formControlName="editionOne"
        (change)="onEditionOneCheck($event)"
        [value]="car"
        id="edition one"
        class="input-checkbox"
        >
        <label for="edition one">edition one</label><br>
      </div>
      <span class="info-text">
        Mit der edition one sind Sie ganz vorn:
        Mit eleganten platinumgrauen Designelementen im Exterieur, abgedunkelten Matrix-LED-Scheinwerfern
        mit dynamischer Lichtinszenierung und dynamischem Blinklicht zeigen Sie sich von Ihrer überzeugendsten Seite.
        Die Ausstattungslinien advanced und Interieur S line sind selbstverständlich inklusive.
        Je nach Wunsch stehen verschiedene Außenfarben und Räder-Alternativen zur Verfügung.
      </span>
    </div>
  </div>
</div>
<div class="header__container">
  <h3>Linien & Pakete</h3>
</div>
<div class="extras__container">
  <div class="extra-header">
    <h3 >S line</h3>
  </div>
  <div class="extras">
    <label for="interieur-s-line">Interieur S line</label>
    <input
    type="checkbox"
    class="extra-input"
    id="interieur-s-line"
    formControlName="interieurSline"
    (change)= "onExtraSline($event)"
    >
    <img
    class="extra-image"
    src="https://mediaservice.audi.com/media/cdb/data/59f3fa4d-8a00-44c5-a73f-f886b7f92d17.jpg"
    alt="line-package">
    <span class="extras-price">2583 EUR</span>
  </div>
  <div class="extra-header">
    <h3 >Design Pakete</h3>
  </div>
  <div class="extras">
    <label for="interieur design">Interieur design selection</label>
    <input
    type="checkbox"
    class="extra-input"
    id="interieur design"
    formControlName="interieurDesign"
    (change)= "onExtraDesign($event)"
    >
    <img
    class="extra-image"
    src="https://mediaservice.audi.com/media/cdb/data/59f3fa4d-8a00-44c5-a73f-f886b7f92d17.jpg"
    alt="line-package">
    <span class="extras-price">2583 EUR</span>
  </div>
  <div class="extra-header">
    <h3 >Ausstattungspakete</h3>
  </div>
  <div class="extras">
    <label for="advanced selction">advanced selction</label>
    <input
    type="checkbox"
    class="extra-input"
    id="advanced selction"
    formControlName="packageOne"
    (change)= "onExtraPackageOne($event)"
    >
    <img
    class="extra-image"
    src="https://mediaservice.audi.com/media/cdb/data/d2094228-5dc7-4a17-90f4-fc99853dd112.jpg"
    alt="line-package">
    <span class="extras-price">2388 EUR</span>
  </div>
  <div class="extras">
    <label for="technology selection">Technology selection</label>
    <input
    type="checkbox"
    class="extra-input"
    id="technology selection"
    formControlName="packageTwo"
    (change)= "onExtraPackageTwo($event)"
    >
    <img
    class="extra-image"
    src="https://mediaservice.audi.com/media/cdb/data/20a9b8ac-fc62-4533-b6e5-303b85a060b0.jpg"
    alt="line-package">
    <span class="extras-price">3704 EUR</span>
  </div>
</div>
<div class="button__container">
  <button class="lines-packages__submit" type="submit">Weiter zu Antrieb</button>
</div>
</form>
