<div class="header__container">
  <h3>Details machen den Unterschied</h3>
</div>
<div class="content__container">
  <div class="text-image__container">
    <span *ngIf="car.fuel1 === 'Elektro'; else otherDrive" class="text">
      Mit dem <strong>{{car.name}}</strong> übersetzt Audi die grundlegende Formensprache
      der Marke ins Elektro-Zeitalter.<br>
      Stilprägende Details machen deutlich, dass der {{car.name}} rein elektrisch fährt,
      darunter die spezifische Tagfahrlicht-Signatur,
      die elektrische Ladeklappe und der Entfall der Abgas-Endrohre.
    </span>
    <ng-template #otherDrive>
      Gestalten Sie das Exterieur Ihres Audi <strong>{{car.model}} {{car.name}}</strong> nach Ihren Wünschen.
      Egal ob Außenfarbe, Felge oder Scheinwerfer-Technologie:
      Durch die zahlreichen Ausstattungsoptionen wird der
      Audi {{car.model}} {{car.name}} zu Ihrem persönlichen Traumwagen.
    </ng-template>
    <img class="car-image" src="{{car.imageUrl[0]}}" alt="car-pic">
  </div>
  <div class="header__container">
    <h3>Außenfarbe</h3>
  </div>
  <div class="color-details__container">
    <div class="color-details">
      <span class="color-type">Uni-Lacke</span>
        <div
        class="color-input__container"
        >
          <ng-container
          *ngFor="let color of carColorUni; let i = index">
            <input
            (click)='onClickColor()'
            class="color-button"
            id="color.colorName"
            type="button"
            [ngStyle]="{'background-color':getColor(color.colorName)}"
            >
            <label *ngIf="showColorName" for="color.colorName">{{color.colorName}}</label>
          </ng-container>
        </div>
        <div *ngFor="let name of carColorUni;">
          <span class="color-name">{{name.colorName}}</span>
        </div>
      <span class="color-price"> {{car.exteriorColorPrice1}},00 EUR</span>
    </div>
    <div
    class="color-details">
      <span class="color-type" >Metallic-Lacke</span>
        <div
        class="color-input__container"
        >
        <ng-container
        *ngFor="let color of carColorMetallic1"
        >
          <input
          (click)='onClickColor()'
          id="color.colorName"
          class="color-button"
          type="button"
          [ngStyle]="{'background-color':getColor(color.colorName)}"
          >
          <label *ngIf="showColorName" for="color.colorName">{{color.colorName}}</label>
        </ng-container>
        </div>
      <span class="color-price" > {{car.exteriorColorPrice2}},00 EUR</span>
    </div>
    <div class="color-details">
      <span class="color-type">Weitere Metallic-Lacke</span>
        <div
        class="color-input__container"
        >
          <ng-container
          *ngFor="let color of carColorMetallic2; let i = index"
          >
            <input
            (click)='onClickColor()'
            id="color.colorName"
            class="color-button"
            type="button"
            [ngStyle]="{'background-color':getColor(color.colorName)}"
            >
            <label *ngIf="showColorName" for="color.colorName">{{color.colorName}}</label>
          </ng-container>
        </div>
      <span> {{car.exteriorColorPrice3}},00 EUR</span>
    </div>
    <div class="color-details">
      <span class="color-type" >Perleffekt-Lacke</span>
      <div
      class="color-input__container"
      >
        <ng-container
        *ngFor="let color of carColorPerleffekt; let i = index"
        >
            <input
            (click)='onClickColor()'
            id="color.colorName"
            class="color-button"
            type="button"
            [ngStyle]="{'background-color':getColor(color.colorName)}"
            >
            <label *ngIf="showColorName" for="color.colorName">{{color.colorName}}</label>
        </ng-container>
      </div>
      <span class="color-price"> {{car.exteriorColorPrice3}},00 EUR</span>
    </div>
    <div class="color-details">
      <span class="color-type" >Individuallackierungen</span>
        <div
        class="color-input__container"
        >
        <ng-container
        *ngFor="let color of carColorIndividual; let i = index"
        >
          <input
          (click)='onClickColor()'
          id="color.colorName"
          class="color-button-individual"
          type="button"
          >
          <label *ngIf="showColorName" for="color.colorName">{{color.colorName}}</label>
        </ng-container>
      </div>
      <span class="color-price"> {{car.exteriorColorPrice3}},00 EUR</span>
    </div>
  </div>
  <div class="header__container">
    <h3>Sommerkompletträder</h3>
  </div>
  <div class="wheels__container">
    <select
  class="wheel-select"
  id="wheel-select"
  required

  >
    <option [disabled]="true" selected>Bitte auswählen</option>
    <option [disabled]="true">19 Zoll</option>
    <option>Leichtmetallräder, 5-Arm-Aero-Design</option>
    <option [disabled]="true">20 Zoll</option>
    <option>Leichtmetallräder, 5-Arm-Design</option>
    <option>Leichtmetallräder, 5-Arm-Dynamik-Design</option>
    <option>Leichtmetallräder, 5-Doppelspeichen-Edge-Design</option>
    <option [disabled]="true">21 Zoll</option>
    <option>Leichtmetallräder, 15-Speichen-Design</option>
    <option>Leichtmetallräder, 5-Arm-Turbinen-Design</option>
    <option>Leichtmetallräder, 10-Speichen-Rotor-Design</option>
    <option>Leichtmetallräder, 5-V-Speichen-Stern-Design</option>
    <option [disabled]="true">22 Zoll</option>
    <option>Leichtmetallräder, 5-Speichen-Struktur-Design</option>
  </select>
  <button class="wheel-image-button" type="button">Bilder zeigen</button>
  <span class="wheel-price">Price will be shown here</span>
  </div>

</div>
