<!-- <div  class="container" [style.background-image]="'url('+ car.imageUrl[1] +')'"> -->
<div class="container">
  <svg class="left-arrow" (click)="plusElement(-1)" >
    <use xlink:href="../../assets/sprite.svg#icon-chevron-thin-left" ></use>
  </svg>
  <div class="image-container">
    <img  class="slide-image" src="{{car.imageUrl[slideIndex]}}" alt="">
  </div>
  <svg class="right-arrow" (click)="plusElement(+1)">
    <use xlink:href="../../assets/sprite.svg#icon-chevron-thin-right"></use>
  </svg>
</div>
