.container{
display:grid;
grid-template-columns:auto auto auto;
justify-items: center;
align-items: center;
gap:0;
}

.image-container{
max-width: 100rem;
height: auto;
margin:0;
}

.slide-image{
  max-width: 70rem;
  height: 20rem;
}


.left-arrow{
padding: 0.5rem;
max-width: 2rem;
margin-right: .5rem;
height: 2rem;
background-color: black;
fill: white;
}

.right-arrow{
  background-color: black;
  fill: white;
  margin-left: .5rem;
  padding: 0.5rem;
  max-width: 2rem;
  height: 2rem;
}
