.container{
  display:grid;
  grid-template-rows: 30vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
  [full-start] minmax(6rem, 1fr)
  [center-start]
  repeat(8, [col-start] minmax(min-content, 20rem) [col-end])
  [center-end]
  minmax(6rem, 1fr)
  [full-end];
  justify-content: center;
}
.header__text{
  justify-self: center;
  grid-column: center-start/ center-end;
  font-size: 5rem;
  font-weight: 100;
}

app-view-cars-models{
  grid-column: center-start/center-end;
  margin-left: 2rem;
  margin-right: 2rem;
}
